input {
  width: 290px !important;
  display: inline-block !important;
}

input[type="radio"] {
  width: 16px !important;
  height: 16px !important;
  cursor: pointer;
}

.form-check-label {
  cursor: pointer;
}

.category-image {
  width: 130px;
  height: 130px;
}

.category-form {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px 40px 15px 40px;
}
