.container-shopping-cart {
  max-width: 960px !important;
}
.main-content-shopping-cart {
  display: flex;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.product-summary-list {
  flex: 1;
  padding: 20px;
}
.product-attributes {
  margin: 20px 0;
}
.product-attributes ul {
  list-style-type: none;
  padding: 0;
}
.product-attributes li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}
.order-summary {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 544px;
}
.product-list {
  list-style-type: none;
  padding: 0;
}
.product-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.product-list img {
  width: 100px;
  height: auto;
  margin-right: 15px;
}
.product-details {
  flex-grow: 1;
  padding: 10px;
}
.product-details p {
  margin-bottom: 10px;
}
#productTotalPrice {
  width: 65px;
}

#description {
  max-width: 391px;
}

.deleteItemBtn {
  font-size: 35px !important;
  color: rgb(235, 20, 20);
  cursor: pointer;
}
